.border-top {
  -fx-border-style: solid;
  -fx-border-color: -ui-2;
  -fx-border-width: 1px 0 0 0;
}

.border-right {
  -fx-border-style: solid;
  -fx-border-color: -ui-2;
  -fx-border-width: 0 1px 0 0 !important;
}

.border-bottom {
  -fx-border-style: solid;
  -fx-border-color: transparent transparent -ui-2 -ui-1;
  -fx-border-width: 0 0 1px 1px !important;
}

.border-left {
  -fx-border-style: solid;
  -fx-border-color: -ui-2;
  -fx-border-width: 0 0 0 1px;
}

.border-lr {
  -fx-border-style: solid;
  -fx-border-color: transparent -ui-2 transparent -ui-2 !important;
  -fx-border-width: 1px 1px 1px 1px !important;
}

.selected {
  -fx-border-style: solid !important;
  -fx-border-color: -accent-1 !important;
  -fx-border-width: 1px !important;
  -fx-border-insets: -1px !important;
}
