.root {
  -accent-1: #ff6188;
  -cn-0: #0F0F0F;
  -ui-0: #221f22;
  -ui-1: #2d2a2e;
  -ui-2: #363337;
  -ui-2-hov: #413D42;
  -ui-3: #5b595c;
  -text-0: #dcdcdc;

  -fx-accent: -accent-1;
  -fx-focus-color: -accent-1;
}

.background-0 {
  -fx-background-color: -ui-0;
}

.background-1 {
  -fx-background-color: -ui-1;
}

.accent-1-text {
  -fx-text-fill: -accent-1;
}

.text-0-text {
  -fx-text-fill: -text-0;
}

.ui-0-background, .ui-0-background .content {
  -fx-background-color: -ui-0 !important;
}

.ui-1-background, .ui-1-background.content {
  -fx-background-color: -ui-1 !important;
}

.ui-2-background, .ui-2-background.content {
  -fx-background-color: -ui-2 !important;
}

.ui-2-background:hover {
  -fx-background-color: -ui-2-hov;
}

.accent-1-text {
  -fx-text-fill: -accent-1 !important;
}
