.button {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: -ui-1;
  -fx-text-fill: -text-0;
  -fx-border-insets: 0px;
  -fx-background-insets: 0px;
  -fx-font-size: 1.1em;
}

.hoverable:hover {
  -fx-background-color: -ui-2;
}

.button:focused {
  -fx-border-insets: 0px;
  -fx-border: none;
}

.check-box {
  -fx-font-size: 15;
  -fx-text-fill: -text-0;
}

.check-box .box {
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: -ui-3;
  /* -fx-stroke-color: #939293; */
  -fx-border: none;
}

.check-box:selected .mark {
  -fx-background-color: -text-0;
  -fx-background-radius: 0;
}

/* .check-box > .box > .mark {
  -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";
} */

.choice-box {
  -fx-background-color: -ui-1;
  -fx-border-radius: 0;
  -fx-background-radius: 0;
  -fx-mark-color: -text-0;
  -fx-shadow: none;
}

.choice-box > .label {
  -fx-text-fill: -text-0;
}

.choice-box:hover {
  -fx-background-color: -ui-2;
}

.choice-box .context-menu {
  -fx-background-color: -ui-1;
}

.choice-box .menu-item:focused {
  -fx-background-color: -ui-2;
}

.choice-box .menu-item:hover {
  -fx-background-color: -ui-2;
}

.choice-box .menu-item > .label {
  -fx-text-fill: -text-0;
}
/* // Text color of focused item in the list */
.choice-box .menu-item:focused > .label {
  /* -fx-text-fill: black; */
}

.section-button {
  -fx-background-color: -ui-1;
  -fx-border-color: -ui-2;
  -fx-border-width: 0px 1px 1px 0px;
  /* -fx-background-size: 1px; */
  -fx-text-fill: -text-0;
}

.hoverable .section-button:hover {
  -fx-background-color: -ui-2;
  -fx-border-color: -ui-2;
}

.left-margin {
  /* -fx-border-color: -ui-2;
  -fx-border-width: 0 1 0 1; */
  /* -fx-border-offset: 2; */
}

.section-button-selected {
  -fx-background-color: -ui-2;
  -fx-border-color: -ui-2 -ui-2 -accent-1 -ui-2;
  -fx-border-width: 0px 1px 1px 0px;
  -fx-text-fill: -accent-1;
}
